* {
  font-family: "Montserrat";
}
ion-content {
  --background: #fff url("../../../assets/mask.svg") 0 0/100% no-repeat;
  background-position: top;
  background-size: cover;
}

ion-button {
  --border-radius: 62px;
  position: absolute;
  right: 44px;
  --background: #2587f0;
  --box-shadow: none;
  font-weight: 500 !important;
  text-transform: capitalize;
}
ion-input {
  border-bottom: 1px solid #2b2b2b;
}
ion-item {
  --background: transparent !important;
  --border-color: #1b1c1e !important;
  --color: #1b1c1e;
  width: 95%;
  top: 50%;
  left: 0%;
  position: relative;
}
.item-has-focus .label-stacked.sc-ion-label-md-h {
  color: #1b1c13;
}
.container {
  margin-top: 23px;
}
ion-fab {
  margin-left: 223px;
}
.title-login {
  color: #1b1c1e;
  font-weight: 500;
}
.title {
  margin-left: 14px;
  font-weight: 500;
  font-family: "Montserrat";
  font-size: 28px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 75px;
}
* {
  font-family: "Montserrat";
}
.bg {
  position: absolute;
  background-size: cover;
  width: 199px;
  right: 0;
  top: 0;
}
.support {
  color: #303030;
  text-decoration: underline;
  font-size: 12px;
}
ion-button {
  font-weight: bold;
}
.top-logo {
  width: 37px;
  margin-left: 11px;
  height: 47.48px;
}
.ion-label {
  color: #2b2b2b;
  font-family: "montserrat";
  font-size: 16px;
}
ion-input {
  font-size: 13px;
  font-weight: 500;
}

.top-p {
  margin-left: 60px;
  font-size: 14px;
  font-weight: 600;
  color: #000;
  margin-top: 35px;
  position: absolute;
}
.text-bottom {
  text-align: center;
  font-size: 10px;
  margin-top: 55px;
}
.img-bottom {
  text-align: center;
  font-size: 10px;
}
.footer-image {
  margin: 0 auto;
  .img {
    width: 58px;
  }
}

.eye-icon {
  margin-top: 24px;
}
