<ion-content class="ion-padding" fullscreen>
  <!-- <img src="../../../../assets/Z2.png" class="bg" /> -->

  <!-- <div style="display: flex;position: absolute;top: 7px;right: 18px;">
    <img src="../../../../assets/icon.svg" class="top-logo ion-margin-top ion-margin-bottom" />
    <p class="top-p">Platform Sekolah Pintar</p>
</div> -->
  <div style="margin-top: 200px;margin-bottom: 0px;">
    <p class="title">{{'CREATEPASS.title' | translate}}</p>
  </div>

  <form [formGroup]="validationForm" (ngSubmit)="createPassword(validationForm.value)">
    <ion-item lines="none">
      <ion-label position="stacked" class="ion-label">{{'CREATEPASS.email' | translate}}
      </ion-label>
      <ion-input class="ion-input-text" formControlName="email" type="email" [value]="email" [(ngModel)]="email">
      </ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="stacked" class="ion-label">{{'CREATEPASS.phone' | translate}}
      </ion-label>
      <ion-input class="ion-input-text" formControlName="phone" type="phone" [value]="phone" [(ngModel)]="phone">
      </ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="stacked" class="ion-label">{{'CREATEPASS.newpass' | translate}} <ion-text color="danger">*
        </ion-text>
      </ion-label>
      <ion-input class="ion-input-text" formControlName="password" [type]="showPassword ? 'text' : 'password'"
        (keyup.enter)="createPassword(validationForm.value)"></ion-input>
      <ion-icon style="position: absolute;
        right: 15px;
        z-index: 2;
        background-color: white;
        padding: 2px;" slot="end" [name]="passwordToggleIcon" (click)="togglePassword()" class="eye-icon"></ion-icon>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validationMessages.password">
        <div class="error-message"
          *ngIf="validationForm.get('password').hasError(validation.type) && (validationForm.get('password').dirty || validationForm.get('password').touched)">
          <ion-icon name="information-circle-outline"></ion-icon> {{
          validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item lines="none">
      <ion-label position="stacked" class="ion-label">{{'CREATEPASS.reenterpass' | translate}} <ion-text color="danger">
          *</ion-text>
      </ion-label>
      <ion-input class="ion-input-text" formControlName="confirmPassword" [type]="showPassword2 ? 'text' : 'password'"
        (keyup.enter)="createPassword(validationForm.value)"></ion-input>
      <ion-icon style="position: absolute;
        right: 15px;
        z-index: 2;
        background-color: white;
        padding: 2px;" slot="end" [name]="passwordToggleIcon" (click)="togglePassword2()" class="eye-icon"></ion-icon>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validationMessages.confirmPassword">
        <div class="error-message"
          *ngIf="validationForm.get('confirmPassword').hasError(validation.type) && (validationForm.get('confirmPassword').dirty || validationForm.get('confirmPassword').touched)">
          <ion-icon name="information-circle-outline"></ion-icon> {{
          validation.message }}
        </div>
      </ng-container>
    </div>
    <div class="container">
      <!-- <h1 class="title-login">{{ 'LOGIN.btn' | translate }}</h1> -->

      <ion-button slot="end" type="submit" [disabled]="validationForm.invalid">
        {{ 'CREATEPASS.title' | translate }}
      </ion-button>
    </div>
  </form>
</ion-content>