<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>{{'FORGET.title' | translate}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-label>
          <h4>
            Silahkan periksa email : <span style="font-weight: 600;">{{email}}</span>, kami telah mengirimkan kode OTP.
          </h4>
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
  <form [formGroup]="validationForm" (ngSubmit)="forgetPassword(validationForm.value)">
    <ion-item lines="none">
      <ion-label position="stacked" class="ion-label">{{'FORGET.otp' | translate}}
      </ion-label>
      <ion-input class="ion-input-text" formControlName="otp" type="text" [value]="otp" [(ngModel)]="otp">
      </ion-input>
    </ion-item>
    <div class="container">
      <ion-button slot="end" type="submit" [disabled]="validationForm.invalid">
        {{ 'FORGET.confirm' | translate }}
      </ion-button>
    </div>
  </form>

</ion-content>