p {
    font-size: 12px;
}
.money {
    font-family: "montserrat";
    font-weight: 600;
    font-size: 14px;
}
h3 {
    font-size: 12px;
}
.box-shadow {
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1) !important;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1) !important;
}
