<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>{{'CHANGEPASS.title' | translate}}</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="dismiss()" strong>
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="validationForm" (ngSubmit)="changePassword(validationForm.value)">
    <ion-item>
      <ion-label class="ion-label" position="floating">{{'CHANGEPASS.oldpass' | translate}} <ion-text color="danger">*
        </ion-text>
      </ion-label>
      <ion-input formControlName="oldPass" type="password" (keyup.enter)="changePassword(validationForm.value)">
      </ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validationMessages.oldPass">
        <div class="error-message"
          *ngIf="validationForm.get('oldPass').hasError(validation.type) && (validationForm.get('oldPass').dirty || validationForm.get('oldPass').touched)">
          <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-label class="ion-label" position="floating">{{'CHANGEPASS.newpass' | translate}} <ion-text color="danger">*
        </ion-text>
      </ion-label>
      <ion-input formControlName="newPass" type="password" (keyup.enter)="changePassword(validationForm.value)">
      </ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validationMessages.newPass">
        <div class="error-message"
          *ngIf="validationForm.get('newPass').hasError(validation.type) && (validationForm.get('newPass').dirty || validationForm.get('newPass').touched)">
          <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-label class="ion-label" position="floating">{{'CHANGEPASS.renewpass' | translate}} <ion-text color="danger">*
        </ion-text>
      </ion-label>
      <ion-input formControlName="rePass" type="password" (keyup.enter)="changePassword(validationForm.value)">
      </ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validationMessages.rePass">
        <div class="error-message"
          *ngIf="validationForm.get('rePass').hasError(validation.type) && (validationForm.get('rePass').dirty || validationForm.get('rePass').touched)">
          <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-button color="primary" class="ion-margin-top" expand="block" type="submit" [disabled]="!validationForm.valid">
      {{'CHANGEPASS.title' | translate}}</ion-button>
  </form>
</ion-content>