* {
    font-family: "montserrat";
}
ion-button {
    height: 56px;
    margin: 24px;
    --box-shadow: none;
    font-size: 18px;
    font-weight: 500;
}
h2 {
    font-weight: 600;
    font-size: 17px;
    color: #1b1c1e;
    text-align: center;
}
p {
    text-align: center;
    margin-top: 8px;
    font-size: 13px;
}
ion-card {
    padding: 14px;
}
