ion-tabs {
    background: #ffffff;
    --height: 76px;
}
ion-icon {
    width: 20px;
}

ion-tab-bar {
    background: #fff;
    margin: 0px 5% !important;
    border-top: 1px solid #fff;
}
ion-label {
    display: block;
    width: 0px;
    height: 0px !important;
    // background: #310023;
    padding: 0px;
    // margin-left: -91px;
    text-align: center;
    border-radius: 25px;
    position: absolute;
    top: 0px;
    opacity: 0;
}

.tab-selected ion-icon {
    // color: rgb(6, 255, 130);
    // filter: invert(67%) sepia(99%) saturate(2633%) hue-rotate(178deg) brightness(86%) contrast(87%)
    //     drop-shadow(-4px 2px 6px #4296d0);
    // transform: scale(0.95) translateY(-2px) rotate(-11deg);
    // transition: all 0.1s;
}

.tab-selected ion-label {
    display: block;
    width: 18px;
    height: 2px !important;
    border-radius: 25px;
    transition: all 0.05s;
    transition-delay: 0.05s;

    margin-top: 10px;
    top: 34px;
    opacity: 1;
}

ion-tab-button:not(.tab-selected) {
    ion-icon {
        transform: translateY(0px) scale(0.9);
        transition: all 0.1s;
    }
}

#tab-button-tab1,
#tab-button-tab2,
#tab-button-tab3,
#tab-button-tab4,
#tab-button-tab5 {
    --background: #23272a;
    -webkit-box-shadow: 5px 5px 15px -15px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 5px 5px 15px -15px rgba(0, 0, 0, 0.4);
    box-shadow: 5px 5px 15px -15px rgba(0, 0, 0, 0.4);
}
#tab-button-tab1 {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

#tab-button-tab2 {
    border-top-right-radius: 12px;
}

.tab-3 {
    padding: 0 !important;
    margin: 0 !important;
    max-width: 72px !important;
    background: #23272a !important;
    margin-top: -30px !important;
    height: 86px;
    --ripple-color: transparent !important;
    cursor: default !important;
    div {
        position: absolute;
        background: #121212 !important;
        height: 72px;
        width: 72px !important;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
    }
}

#tab-button-tab4 {
    border-top-left-radius: 12px;
}

#tab-button-tab5 {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
ion-badge {
    --background: purple;
    --color: white;
    width: 23px;
    height: 21px;
    font-size: 0.8rem;
}

@media screen and (max-width: 420px) {
    ion-fab {
        left: 210px;
        transform: translateX(calc(240px * -50%));
    }
}

ion-fab {
    overflow: visible !important;
    bottom: 16px !important;
    position: absolute;
    bottom: 12px !important;

    ion-fab-button {
        --background: var(--ion-color-light);
        --background-hover: purple;
        --background-activated: purple;
        --background-focused: purple;
        --color: purple;
        --ripple-color: purple;
        border-color: purple !important;
        border-width: 6px !important;
        border-radius: 50% !important;
        border-style: solid !important;
    }
    .active-middle {
        --background: purple !important;
        --color: var(--ion-color-light) !important;
        border-color: transparent !important;
        border-width: 0 !important;
    }
}
