@font-face {
    font-family: "montserrat";
    font-style: normal;
    font-weight: 400;
    src: url("src/assets/fonts/Montserrat-Regular.otf");
}

@font-face {
    font-family: "montserrat-semibold";
    font-style: normal;
    font-weight: 500;
    src: url("src/assets/fonts/Montserrat-SemiBold.otf");
}

@font-face {
    font-family: "montserrat";
    font-style: normal;
    font-weight: 600;
    src: url("src/assets/fonts/Montserrat-Bold.otf");
}

@font-face {
    font-family: "montserrat";
    font-style: normal;
    font-weight: 700;
    src: url("src/assets/fonts/Montserrat-ExtraBold.otf");
}

@font-face {
    font-family: "montserrat";
    font-style: normal;
    font-weight: 800;
    src: url("src/assets/fonts/Montserrat-Black.otf");
}

@font-face {
    font-family: "montserrat";
    font-style: normal;
    font-weight: 100;
    src: url("src/assets/fonts/Montserrat-Light.otf");
}
// altert
@font-face {
    font-family: "MontserratAlternates";
    font-style: normal;
    font-weight: 400;
    src: url("src/assets/fonts/MontserratAlternates-Regular.otf");
}

@font-face {
    font-family: "MontserratAlternates-semibold";
    font-style: normal;
    font-weight: 500;
    src: url("src/assets/fonts/MontserratAlternates-SemiBold.otf");
}

@font-face {
    font-family: "MontserratAlternates";
    font-style: normal;
    font-weight: 600;
    src: url("src/assets/fonts/MontserratAlternates-Bold.otf");
}

@font-face {
    font-family: "MontserratAlternates";
    font-style: normal;
    font-weight: 700;
    src: url("src/assets/fonts/MontserratAlternates-ExtraBold.otf");
}

@font-face {
    font-family: "MontserratAlternates";
    font-style: normal;
    font-weight: 800;
    src: url("src/assets/fonts/MontserratAlternates-Black.otf");
}

@font-face {
    font-family: "MontserratAlternates";
    font-style: normal;
    font-weight: 100;
    src: url("src/assets/fonts/MontserratAlternates-Light.otf");
}

//Opensans
@font-face {
    font-family: "OpenSans";
    font-style: normal;
    font-weight: 300;
    src: url("src/assets/fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: "OpenSans";
    font-style: normal;
    font-weight: 600;
    src: url("src/assets/fonts/OpenSans-Bold.ttf");
}

@font-face {
    font-family: "OpenSans";
    font-style: normal;
    font-weight: 700;
    src: url("src/assets/fonts/OpenSans-ExtraBold.ttf");
}

@font-face {
    font-family: "OpenSans";
    font-style: normal;
    font-weight: 400;
    src: url("src/assets/fonts/OpenSans-SemiBold.ttf");
}

@font-face {
    font-family: "OpenSans";
    font-style: italic;
    font-weight: 400;
    src: url("src/assets/fonts/OpenSans-SemiBoldItalic.ttf");
}

@font-face {
    font-family: "OpenSans";
    font-style: italic;
    font-weight: 600;
    src: url("src/assets/fonts/OpenSans-BoldItalic.ttf");
}

@font-face {
    font-family: "OpenSans";
    font-style: normal;
    font-weight: 100;
    src: url("src/assets/fonts/OpenSans-Light.ttf");
}
