<ion-content fullscreen>
  <!-- <ion-item class="close-fake" lines="none" text-center>
    <ion-button (click)="close()" fill="clear" color="light">
      <ion-icon name="close" slot="start">
        Back
      </ion-icon>
    </ion-button>
    <ion-button (click)="zoom(true)" fill="clear" color="light">
      <ion-icon name="add" slot="start">
        In
      </ion-icon>
    </ion-button>
    <ion-button (click)="zoom(false)" fill="clear" color="light">
      <ion-icon name="remove" slot="start">
        Out
      </ion-icon>
    </ion-button>
  </ion-item>

  <ion-slides [options]="slideOpts" #sliders>
    <ion-slide>
      <div class="swiper=zoom-container">
        <img src="{{ apiUrl + 'media/view/'+ img }}">
      </div>
    </ion-slide>
  </ion-slides> -->
</ion-content>