<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'DONATION.title' | translate}}</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="donations">
    <ion-card *ngFor="let donation of donations" class="no-box-shadow" (click)="POPUP_FORM_DONATION(donation)">
      <ion-card-header>
        <ion-card-title>{{donation.title}}</ion-card-title>
        <p class="createDate"> {{donation.createDate| date : 'dd MMMM yyyy'
          }}</p>
      </ion-card-header>
    </ion-card>
    <div *ngIf="donations.length==0" style="width: 100%;
        text-align: center;
        background: #fff;
        height: 100vh;">
      <ion-icon name="md-data-not-found" style="zoom:16"></ion-icon>
      <p style="font-family: 'montserrat';
          margin: 0px 50px 0px 50px;
          font-weight: 600;
          color: #6ab856;
          font-size: 13px;">{{'DATANOTFOUND.title' | translate}}</p>
    </div>
  </div>
</ion-content>