<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>{{'FORGET.title' | translate}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-label>
          <h4>
            Silahkan Masukkan Kata Sandi Baru.
          </h4>
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
  <form [formGroup]="validationForm" (ngSubmit)="forgetPassword(validationForm.value)">
    <ion-item lines="none">
      <ion-label position="stacked" class="ion-label">{{'CREATEPASS.newpass' | translate}} <ion-text color="danger">*
        </ion-text>
      </ion-label>
      <ion-input class="ion-input-text" formControlName="password" [type]="showPassword ? 'text' : 'password'"
        (keyup.enter)="forgetPassword(validationForm.value)"></ion-input>
      <ion-icon style="position: absolute;
        right: 15px;
        z-index: 2;
        background-color: white;
        padding: 2px;" slot="end" [name]="passwordToggleIcon" (click)="togglePassword()" class="eye-icon"></ion-icon>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validationMessages.password">
        <div class="error-message"
          *ngIf="validationForm.get('password').hasError(validation.type) && (validationForm.get('password').dirty || validationForm.get('password').touched)">
          <ion-icon name="information-circle-outline"></ion-icon> {{
          validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item lines="none">
      <ion-label position="stacked" class="ion-label">{{'CREATEPASS.reenterpass' | translate}} <ion-text color="danger">
          *</ion-text>
      </ion-label>
      <ion-input class="ion-input-text" formControlName="confirmPassword" [type]="showPassword2 ? 'text' : 'password'"
        (keyup.enter)="forgetPassword(validationForm.value)"></ion-input>
      <ion-icon style="position: absolute;
        right: 15px;
        z-index: 2;
        background-color: white;
        padding: 2px;" slot="end" [name]="passwordToggleIcon" (click)="togglePassword2()" class="eye-icon"></ion-icon>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validationMessages.confirmPassword">
        <div class="error-message"
          *ngIf="validationForm.get('confirmPassword').hasError(validation.type) && (validationForm.get('confirmPassword').dirty || validationForm.get('confirmPassword').touched)">
          <ion-icon name="information-circle-outline"></ion-icon> {{
          validation.message }}
        </div>
      </ng-container>
    </div>
    <div class="container">
      <ion-button slot="end" type="submit" [disabled]="validationForm.invalid">
        {{ 'FORGET.change' | translate }}
      </ion-button>
    </div>
  </form>

</ion-content>