* {
    font-family: "montserrat" !important;
}
.student {
    width: 80%;
    float: left;
    h2 {
        text-transform: lowercase;
        margin-left: 16px;
        margin-right: 16px;
        font-size: 18px;
        font-weight: 600;
        color: #1b1c1e;
    }
    h2::first-line {
        text-transform: capitalize;
    }
}
.container-date {
    float: left;
    margin-bottom: 13px;
    text-align: center;
    width: 64px;
    background-color: #efefef;
    border-radius: 25px;
    padding: 6px;
    .number {
        font-size: 26px;
        font-weight: 600;
        color: #1b1c1e;
    }
    .day {
        font-size: 16px;
        font-weight: 500;
        color: #1b1c1e;
        text-transform: uppercase;
    }
}
.container-punchin {
    float: left;
    margin: 9px 10px 0px 16px;
    h2 {
        font-size: 15px;
        font-weight: 600;
        color: #1b1c1e;
    }
    p {
        font-size: 16px;
        margin-top: 10px;
        font-weight: 500;
    }
}
.container-punchout {
    float: left;
    margin: 9px 10px 0px 16px;
    h2 {
        font-size: 15px;
        font-weight: 600;
        color: #1b1c1e;
    }
    p {
        font-size: 16px;
        margin-top: 10px;
        font-weight: 500;
    }
}
ion-card {
    border-radius: 8px;
}
.box-shadow {
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1) !important;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1) !important;
}
ion-card-title {
    font-family: "montserrat";
    font-weight: 600;
}
ion-card-subtitle {
    font-size: 12px;
}
h3 {
    font-family: "montserrat";
    font-weight: 500;
    font-size: 21px;
}
ion-card-header {
    padding-bottom: 5px;
}

ion-label {
    margin-top: 5px;
}
.ribbon {
    width: 100px;
    height: 125px;
    overflow: hidden;
    position: absolute;
    z-index: 1;
}
.ribbon::before,
.ribbon::after {
    position: absolute;
    z-index: -1;
    content: "";
    display: block;
    // border: 5px solid #2980b9;
}
.ribbon span {
    position: absolute;
    display: block;
    width: 166px;
    padding: 10px 0;
    background: rgb(96, 188, 250);
    background: radial-gradient(circle, #59b4ff 0%, #397ffb 100%);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    color: #fff;
    font: 700 12px/1 "Lato", sans-serif;
    text-transform: uppercase;
    text-align: center;
}

/* top right*/
.ribbon-top-right {
    top: -10px;
    right: -10px;
}
.ribbon-top-right::before,
.ribbon-top-right::after {
    border-top-color: transparent;
    border-right-color: transparent;
}
.ribbon-top-right::before {
    top: 0;
    left: 0;
}
.ribbon-top-right::after {
    bottom: 0;
    right: 0;
}
.ribbon-top-right span {
    left: -25px;
    top: 30px;
    transform: rotate(45deg);
}

.glow {
    transform: rotate(135deg);
    position: absolute;
    background: aqua;
    z-index: 2;
    height: 25px;
    // background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.52), rgba(255, 255, 255, 0));
    width: 34px;
    height: 28px;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.52), rgba(255, 255, 255, 0));

    animation: scanner-loop 1.5s ease-in-out infinite;
    animation-delay: 2s;
    left: -9px;
    top: -22px;
}
@keyframes scanner-loop {
    0% {
        left: -9px;
        top: -22px;
    }
    100% {
        top: 100%;
        left: 140%;
    }
}
.callerName {
    margin-top: 4px;
    font-size: 14px;
    margin-bottom: 0px;
}

.status {
    text-align: center;
    background: #fb3939;
    color: #fff;
    border-radius: 6px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 79px;
    float: right;
    font-weight: 700;
}

.show-fab {
    border-style: none;
    transition: all 0.4s ease-in-out;
    transform: translateY(-20px);
}
.show-fab2 {
    border-style: none;
    transition: all 0.4s ease-in-out;
    transform: translateY(0px);
}

.bottom-sheet {
    .bs-title {
        margin-top: 0px;
        margin-left: 24px;
        margin-bottom: 16px;
        font-size: 16px;
        font-weight: 600;
    }
    h2 {
        font-size: 14px;
    }
    ion-button {
        height: 56px;
        margin: 24px;
        --background: #235ec3;
    }
    ion-item {
        margin-left: 8px;
        margin-right: 8px;
    }
    ion-select,
    ion-datetime {
        max-width: 100% !important;
        width: 100%;
        border: 1px solid #c4c4c4;
        padding: 17px;
        border-radius: 8px;
    }
}
.container-filter {
    width: 50px;
    height: 50px;
    background-color: #ebebeb;
    /* top: 12px; */
    border-radius: 8px;
    align-items: center;
    text-align: center;
    float: right;

    ion-icon {
        margin-top: 6px;
        zoom: 2;
        color: #909090;
    }
}

@media only screen and (max-width: 360px) {
    .container-date {
        float: left;
        margin-bottom: 13px;
        text-align: center;
        width: 64px;
        background-color: #efefef;
        border-radius: 25px;
        padding: 6px;
        .number {
            font-size: 24px;
            font-weight: 600;
            color: #1b1c1e;
        }
        .day {
            font-size: 13px;
            font-weight: 500;
            color: #1b1c1e;
            text-transform: uppercase;
        }
    }

    .container-punchin {
        float: left;
        margin: 9px 10px 0px 16px;
        h2 {
            font-size: 13px;
            font-weight: 600;
            color: #1b1c1e;
        }
        p {
            font-size: 12px;
            margin-top: 10px;
            font-weight: 500;
        }
    }
    .container-punchout {
        float: left;
        margin: 9px 10px 0px 16px;
        h2 {
            font-size: 13px;
            font-weight: 600;
            color: #1b1c1e;
        }
        p {
            font-size: 12px;
            margin-top: 10px;
            font-weight: 500;
        }
    }
}
