* {
    font-family: "montserrat" !important;
}
ion-content {
    --background: #fff;
}
ion-label {
    font-family: "montserrat";
    font-size: 13px !important;
}
ion-checkbox {
    --size: 20px;
}
ion-list-header {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 0px;
    margin-top: -7px;
}
#myInput {
    width: calc(100% - 10px);
    border: 0;
    border-radius: 0;
    background: transparent;
}
ion-input,
ion-textarea {
    font-size: 12px;
}
