<ion-header>
  <ion-toolbar>
    <ion-title>faq</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()" strong>
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Cara Top Up</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Apakah saldo di aplikasi bisa Tarik Kembali?</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Apakah bisa top up dari e-money? (GoPay, OVO, Dana, Flip)</ion-label>
    </ion-item>
  </ion-list>
</ion-content>